:root {
    --primary: #ffff;
    --secondary: #f0f4f3;
    --tertiary: #405fc3;
    --light-dark: #97aff2;
    --dark: #3c3b5e;

}

body {
    background: var(--primary);
}

h1 {
    color: var(--primary);
    padding: 18px 0;
    text-align: center;
    margin-top: -5px;
    width: 100%;
    font-size: 1.75rem;
    background: var(--tertiary);
}

.container {
    display: flex;
    gap: 165px;
    padding: 30px;
}

.city-input {
    width: 550px;
}

.city-input input {
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid;

}

.weather-data {
    width: 100%;
    height: 100%;
    border: solid;
}

.city-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    font-size:1rem;;
    outline: none;
    border-radius: 4px;
    background: var(--light-dark);
}
.currentWeather{
    color:black;
    padding: 20px 70px 20px 20px;
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
    background-color: #ffff;
}
.currentWeather h2{
    font-size: 1.5rem;
}
.currentWeather h4{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}